{%load static%}

<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'style.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <nav class = "navbar">
        <ul>
            <li><a href="/generate/">Generate</a></li>
            <li><a href="/display_suite/">Select Suite</a></li>
            <li style="float: right; margin-right: 10px;"><a href="/siteadmin/logout">Logout</a></li>
        </ul>
    </nav>
    {% block content %}
    {%endblock content%}
</body>
</html>