{% extends "base.html" %}
{%load static%}



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing Suite Generator</title>
    
  <body>
    
      {%block content%}
      <center>

      <br /><br/>
      <br><br>
      
      <form class = "form" action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_table}}
        {{ form.errors }}
        {{ form.non_field_errors }}
        <br>
        <input type="submit" class="btn btn-success"name="Submit" /><br />
      </form>
    </center> 
    {%endblock content%}

  </body>
</html>
