<body style="background-color:rgb(144, 230, 184)">
    <center >
      <br><br>
      <u><h3 style="font-family: Mishka">Please enter the password to access this Suite</h3></u>
      <br><br>
      <form method="post">
        {% csrf_token %}
        <table>
        {{ form.as_table }}
        {{ form.errors }}
        {{ form.non_field_errors }}
        </table>
        <input type="submit" class="btn btn-success" name="Submit" /><br />
      </form>
      <br><br>
    </center>
    </body>
    